@{
    ViewBag.Title = "Editoras";
}

<li>@Html.ActionLink("Autores", "Login", "Autores")</li>

@section Head
{
    <script type="text/javascript">

        function incluir() {
            limparModal();
            toggleModal();
        }

        function excluir(a) {
            event.preventDefault();
            var endereco = $(a).attr("href");

            $.post(endereco, {})
                .done(function (data) {

                    if (data.Sucesso)
                        abrirGrid();

                });
        }

        function editar(a) {
            event.preventDefault();

            var endereco = $(a).attr("href");

            $.post(endereco, {})
                .done(function (data) {

                    limparModal();

                    var container = $("#formAutores");

                    $.each(data, function(nome, valor){
                        container.find("[name=" + nome + "]").val(valor);
                    });

                    toggleModal();

                });
        }

        function toggleModal() {
            event.preventDefault();
            $("#idModal").fadeToggle(500);
        }

        function limparModal() {
            $("#idModal input, #idModal select, #idModal textarea")
                .not("input[type=submit], input[type=button]")
                .val("");
        }

        function abrirGrid() {

            var editar = '@Url.Action("Editar")';
            var excluir = '@Url.Action("Excluir")';

            $.ajax({
                type: "POST",
                url: '@Url.Action("Lista")',
                data: {},
                success: function (data) {

                    var datateste = new Date(parseInt(data[1].DataNascimento.substr(6)));
                    var teste1 = datateste.getDate();
                    var teste2 = datateste.getMonth();
                    var teste3 = datateste.getFullYear();
                    console.log(teste1);
                    console.log(teste2);
                    console.log(teste3);
                    var teste4 = teste1 + "/" + teste2 + "/" + teste3;
                    console.log(teste4);
                    console.log(datateste);


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("teste")',
                        data: {datateste : teste4},
                        success: function (data) {
                            console.log("funcionou")
                        }

                    })


                    var container = $("#ListaAutores tbody");
                    container.find("tr").not(".Modelo").remove();

                    var modelo = container.find(".Modelo");

                    $.each(data, function (i, item) {

                        var linha = modelo.clone();


                        $.each(item, function (nome, valor) {
                            linha.find(".p" + nome).html(valor);
                        });

//                        linha.find(".pId").html(item.id);
//                        linha.find(".pNome").html(item.Nome);
//                        linha.find(".pEndereco").html(item.Endereco);
                        linha.find(".fa-pencil").attr("href", editar + '/' + item.id);
                        linha.find(".fa-remove").attr("href", excluir + '/' + item.id);

                        linha.removeClass("Modelo").appendTo(container);
                    });
                }
            });
        }

        function Salvar() {
            event.preventDefault();
            var form = $("#formAutores");

            var endereco = form.attr("action");
            var postData = form.serialize();

            $.post(endereco, postData)
                .done(function (data) {

                    if (data.Sucesso) {
                        abrirGrid();
                        toggleModal();
                    }
                });
        }

        $(window).load(function () {
            abrirGrid();

            //$.post("Autores/teste", function (data) {
            //    if (data!= null) {
            //        console.log("Funcionou")
            //    }
            //})
        });
    </script>
}

<table class="w3-table w3-bordered w3-striped" id="ListaAutores">
    <thead>
        <tr class="w3-green">
            <td><a href="@Url.Action("Editar")" class="fa fa-plus" onclick="incluir();"></a></td>
            <td>id</td>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Data Nascimento</td>
        </tr>
    </thead>

    <p></p>

    <tbody>
        <tr class="Modelo">
            <td>
                <a href="@Url.Action("Editar")" onclick="editar(this);" class="fa fa-pencil"></a>
                <a href="@Url.Action("Excluir")" onclick="excluir(this);" class="fa fa-remove"></a>
            </td>
            <td><span class="pid"></span></td>
            <td><span class="pNome"></span></td>
            <td><span class="pSobrenome"></span></td>
            <td><span class="pDataNascimento"></span></td>
        </tr>
    </tbody>
</table>

<div id="idModal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container w3-card-4">
            <form action="@Url.Action("Salvar")" method="post" id="formAutores">

                <input type="hidden" name="id" value="" />

                <p>
                    <label>Nome:</label>
                    <input class="w3-input" type="text" name="Nome" value="" />
                </p>
                <p>
                    <label>Sobrenome:</label>
                    <input class="w3-input" type="text" name="Sobrenome" value="" />
                </p>
                <p>
                    <label>DataNascimento:</label>
                    <input class="w3-input" type="date" name="DataNascimento" value="" />
                </p>
                <p>
                    @Html.DropDownList("Funds", "selecione");
                </p>

                <button class="w3-button w3-section w3-teal w3-ripple" onclick="Salvar();">Enviar</button>
                <button class="w3-button w3-section w3-teal w3-ripple" onclick="toggleModal();">Fechar</button>
            </form>
        </div>
    </div>
</div>

